.cardProducts {
    background-color: rgb(248, 248, 248);
    border: none;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.cardProducts .card-body {
    padding: 0px;
    margin: 0px;
}

.cardProducts .card-body>.star {
    margin: 10px 0px;
}

.cardProducts .row {
    padding-left: 20px;
}

.cardProducts .heard {
    padding: 20px 10px;
    font-size: 1.8rem;
    color: red;
}

.SP .card-title {
    margin: 20px 0px;
}

.cardProducts img {
    height: 250px;
}

.cardProducts:hover .default-img {
    opacity: 0;
}

.cardProducts:hover .hover-img {
    opacity: 1;
}

.cardProducts:hover {
    background-color: white;
    box-shadow: 0px 5px 8px rgb(203, 203, 203);
}

.image-container {
    position: relative;
}

.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.btn-toolbar{
    margin: 30px 0px;
}
.titlePage1{
    font-weight: bold;
}
.xemThem{
    text-align: right;
}
.xemThem:hover{
    color:green;
}
.card-bd3{
    margin: 0;
    }
    .card-bd3 .card-title{
        text-align: center;
       font-size:17px;
        }
        
    .prev1{
        margin-top: -4%;
        margin-left: -7%;
        color: green;
    }
    .next1{
        margin-top: -4%;
        margin-right: -7%;
        color: green;
    }
    .cardDanhMuc{
        border:none;
    }

    