body {
  min-width: 1200px;
}
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  text-align: left;
  background-color: #fff;
}

.menuNgangNe {
    width: 1500px;
  position: fixed;
  /* overflow-y: auto; */
  z-index: 999;
  background-color: white;
}
.col-9 {
  margin-left: -19px;
}

.headerTrangThai {
    
  border: none;
  background-color: rgb(248, 248, 248);
  margin-left: 20px;
}
.tenNguoiBan {
  /* font-weight: bold; */
  font-size: 20px;
}
.noiDungPhai{
    position: absolute;
    margin-top: -35px;
    margin-left: 1430px;
    text-align: right;
    font-size: 20px;
    color: red;
    font-weight: bold   ;
}
  
/**/
.rating-container {
  margin-left: 20px;
  display: flex;
  gap: 5px;
}

.star {
    font-size: 20px;
  cursor: pointer;
  color: gray;
  transition: color 0.2s;
}
.star.selected {
  color: gold;
}
.rating-text1 {
    font-size: 20px;;
  color: black;
}
.rating-text2 {
  font-size: 20px;
  color: grey;
  margin-left: 20px;
}
.star.hovered {
  color: gold;
}
.danhGia {
  float: left;
}
.card{
    background-color: white;
    
}
.card-body {
  background-color: rgb(249, 249, 249);
}
.card-header {
  background-color: rgb(249, 249, 249);
  font-size: 16px;

}
.form-control{
    width: 100%;
    background-color: rgb(249, 249, 249);
    border: none;
}
.container-info-sanpham {
    padding: 25px 15px 25px 15px;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    background-color: white;
}
.container-info-sanpham .info {
    margin-top: 20px;
    font-size: 15px;
}


/* CONTAINER TABLE */
.container-info-sanpham .info input {
    font-size: 20px;
}
.form-info-sanpham {
    margin: 0px;
}
.title {
    padding-bottom: 5px;
    margin-left: 25px;
    border-bottom: 1px solid #dee2e6;
}
.info {
    padding: 0 20px;
    margin: 0 0 20px 0;
}


/* Ảnh */
.container-images {
    width: 100%;
    height: 200px;
    border: 1px solid #dee2e6;
    display: flex;
    justify-content: center; /* Canh giữa theo chiều ngang */
    align-items: center; 
}
.show-img-div{
    display: flex;
}
.show-img-div .image {
    position: relative;
    display: inline-block;
    margin-right: 10px; /* Để tạo một khoảng cách giữa hình ảnh và nút x */
}
.show-img-div .image img {
    height: 150px;
    width: auto;  /* Đảm bảo hình ảnh lấp đầy container */
    display: block; /* Hiển thị hình ảnh như một block để có thể căn chỉnh ký tự "x" */
    box-shadow: 0 0 6px #dee2e6;
    padding: 10px 10px;
}
.show-img-div .image span {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.7); /* Tạo một nền cho nút x */
    padding: 0px 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s; /* Hiệu ứng màu nền khi di chuột qua */
}
.show-img-div .image span:hover {
    background-color: #dee2e6; /* Tăng độ mờ của nút x khi di chuột qua */
}


/* CSS INPUT FILE  */
#file-upload[type = "file"]{
    display: none;
}
.container-file-upload{
    border: 2px dotted #dee2e6;
    display: flex;
    justify-content: center;
    align-items: center;}

/* Tùy chỉnh giao diện của nút tùy chọn tập tin */
.custom-file-upload {
    /* background-color: #4CAF50; */
    /* color: white; */
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* Khi hover vào nút tùy chọn tập tin */
.custom-file-upload:hover {
    background-color: #e3e6de;
}
.custom-file-upload i {
    margin-right: 5px;
}