.card{
    /* border-color:#fff; */
    border: none;
    width: 100%;
}
.img-fluid {
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.4);
}
.card-body{
    margin-top: -16px;
}
.card-title{
    font-size: 17px;
    font-weight: bold;
}
.card-title:hover{
    color:green;
}
.card-text{
    font-size: 12px;
    text-align: justify;
}
.tacGia{
    font-size: 13px;
    margin-left: 2%;
    margin-top: 1%;
}
.xemThem{
    text-align: right;
}
.xemThem:hover{
    color:green;
}
.titlePage1{
    font-weight: bold;
}
.book-coverPage1 {
    perspective: 1000px; 
}

.book-coverPage1 img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease; 
}

.book-coverPage1:hover img {
    transform: rotateY(-10deg);
}
.btn{
    width: 80px;
}
.page-link{
    background-color: rgb(23, 179, 127);
    color: white;
    border: none;
    font-weight: bold;
}
.page-link:hover{
    color: aquamarine;
    background-color: white;
    border: none;
    font-weight: bold;
}
.Page{
    margin-left: 43%;
}