.card {
    border-color: #fff;
    border: none;
}

/* aside: chứa lựa chọn từ "lọc" đưa lên*/
.title {
    border-bottom: gainsboro 1px solid;
    height: 60px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

/* Xếp hạng */
.chart-title {
    font-weight: 600;
}

.chart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px;
    border-bottom: gainsboro 1px solid;
    margin-top: 30px;
    height: 120px;
}

.chart select {
    border: solid 1px #b4b4b8;
    align-items: center;
    margin-top: 10px;
    padding: 7px;
    border-radius: 5px;
}

.chart option {
    color: #91a1c1;
    align-items: center;
    background-color: #edefec54;
}


/* Lọc */
.find {
    margin-top: 25px;
}

.find-title {
    font-weight: bold;
}

.list-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10px;
    padding: 0px 0px 20px 0px;
    border-bottom: gainsboro 1px solid;
}

.list-item {
    list-style-type: none;
    margin-right: 10px;
    margin-bottom: 10px;
}

.list-item a {
    display: block;
    padding: 8px;
    border: solid 1px #b4b4b8;
    font-size: 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #b4b4b8;
}

.list-item a:hover {
    border: solid 1px #b4b4b8;
    background-color: #b4b4b8;
    color: white;
    cursor: pointer;
}

/* Lựa chọn sắp theo thời gian */
.sort-by {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sort-by-title {
    font-weight: bold;
    display: block;
}

.sort-by select {
    display: block;
    border: solid 1px #b4b4b8;
    align-items: center;
    margin-top: 10px;
    padding: 7px;
    border-radius: 5px;
}

.sort-by option {
    color: #91a1c1;
    align-items: center;
    background-color: #edefec54;
}


/* Thông tin sách */
.list-book {
    margin-top: 11px;
}

.book {
    display: flex;
}

.book img {
    width: auto;
    height: 150px;
}

.book img:hover {
    cursor: pointer;
    opacity: .6;
}

.book-content {
    margin-left: 20px;
}

.book-content h2 {
    font-size: 18px;
    font-weight: bold;
}

.book-content a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.book-content a:hover {
    color: green;
}

.content {
    font-size: 15px;
    color: gray;
    text-align: justify;
    height: 40px;
}

.info {
    display: flex;
    margin-top: 25px;
}

.info-book {
    display: block;
    margin: 0;
}

.info-book p {
    margin-bottom: 5px;
    font-weight: lighter;
    font-size: 13px;
}

.info-book p .bi {
    margin-right: 10px;
}

.info-the-loai {
    display: flex;
    justify-content: flex-end;
}

.info-the-loai span {
    display: flex;
    align-items: center;
    text-align: center;
    border: solid 1px #b4b4b8;
    padding: 12px 10px;
    height: 20px;
    font-size: 3px;
    color: gray;
}

/* Nút điều hướng */
.pagination-container {
    display: flex;
    justify-content: flex-end;
}

.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: gray;
    --bs-pagination-bg: #fff;
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: #dee2e6;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: green;
    --bs-pagination-hover-bg: #f8f9fa;
    --bs-pagination-hover-border-color: #dee2e6;
    --bs-pagination-focus-color: green;
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: green;
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: green;
    --bs-pagination-active-border-color: green;
    --bs-pagination-disabled-color: rgba(33, 37, 41, 0.75);
    --bs-pagination-disabled-bg: #e9ecef;
    --bs-pagination-disabled-border-color: #dee2e6;
    display: flex;
    padding-left: 0;
    list-style: none;
}