main{
    background-color: white;
    border-radius: 20px;
    padding-top: 20px;
}
.Panel1 {
    margin: 0px;
    padding: 0px;
}

/* Lá»c */
article{
    margin: 0px;
    padding: 0px;
}
article .find {
    background-color: rgb(248, 248, 248);
    padding: 20px;
    margin-bottom: 20px;
}

article .find-title {
    font-weight: bold;
}
 article .find .form-check, article .find .form-group{
    margin: 10px 5px;
 }

aside .arrange {
    background-color: rgb(248, 248, 248);
    padding: 20px;
    border-radius: 10px;
}

aside .arrange button {
    background-color: white;
    border: 1px solid green;
    /* box-shadow: 0px 10px 20px  green inset; */
    border-radius: 5px;
    color: black;
    padding: 5px 20px;
    margin-left: 10px;
}

aside .arrange .numberPage {
    display: flex;
    float: right;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;


}

aside .arrange button:hover {
    color: white;
    background-color: green;
}

.textOranger {
    color: orangered;
}

.card {
    background-color: rgb(248, 248, 248);
    border: none;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.card .card-body {
    padding: 0px;
    margin: 0px;
}

.card .card-body>.star {
    margin: 10px 0px;
}

.card .row {
    padding-left: 20px;
}

.card .heard {
    padding: 20px 10px;
    font-size: 1.8rem;
    color: red;
}

.SP .card-title {
    margin: 20px 0px;
}

.card img {
    height: 250px;
}

.card:hover .default-img {
    opacity: 0;
}

.card:hover .hover-img {
    opacity: 1;
}

.card:hover {
    background-color: white;
    box-shadow: 0px 5px 8px rgb(203, 203, 203);
}

.image-container {
    position: relative;
}

.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.btn-toolbar{
    margin: 30px 0px;
}