body{
    min-width: 1200px;
}
body {
    margin: 0;
    font-family:  Helvetica , Arial, sans-serif;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;    
    text-align: left;
    background-color: #fff;
}
header{
    background-color: green;
}
.navbar-brand img{
    position: absolute;
left: 110px; 
top: 8px;
}
.btnSeacrh{
    border: solid 1px white;
    border-radius: 10px;
    width: 350px;
    height: 40px;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 17px;
}
.btnSeacrh:hover{
    background-color: rgb(3, 104, 3); 
}
.sunHeader{
    position: absolute;
    right: -470px;
    top: -10px;
}
.sunMenu{
    margin-top: 200px;
    margin-left: 330px;
}
.sunMenu{
    padding: 10px;
}
.iconMenu{
    margin-right: 5px;
}
.dropdown-itemMenu{
text-align: center;
    text-decoration: none;
    color: black;
    width: 100%;
}
.activeMenu1{
    color: white;
    font-weight: bold;
    background-color: green;
    border-radius: 5px;
}
.search{
    border: solid 2px  green;
}

.vertical-menu {
    width: 200px;
    position: fixed;
    overflow-y: auto;     
}
.vertical-menu .text-nav {
    color: black;
    padding: 10px; 
    display: block; 
    text-decoration: none; 
    font-weight: bold;
}
.text-nav:hover{
    color: green;
    font-weight: bold;
}
.activeMenu2 {
    font-weight: bold;
    background-color: green;
    border-radius: 5px;
    color: white;

    padding: 10px; 
    display: block; 
    text-decoration: none; 
}

.nav-item button{
    color: white;
    background-color: green;
}
.nav-link{
    color: white;
    background-color: green;
}
.nav-linkMenu{
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.nav-linkMenu.activeMenu3{
    text-decoration: underline 2px green;
    color: green;
}
.nav-linkMenu:hover{
    text-decoration: underline 2px green;
    color: green;
}
/* main>nav .text-nav {
    border: 1px solid gray;
    border-radius: 50px;
    color: black;
} */
#contentND{
    margin-top: 20px;
    margin-left: 10%;
}
.account {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.content {
    margin: 30px;
}

.contentbody {
    margin-top: 50px;
}

.card_row:hover {
    margin: 0px;
    box-shadow: 0 0 2px gray;
}